/* defines colors that will be used throughout */
:root {
	--topnav-color: #30a8a0;
	--sidebar-color: #106860;
	--text-color: white;
	--active-color: #084838;
}

/* sets features for body */
body {
	background-image: url("airplanebackgroundimage.png");
	background-repeat: repeat;
	overflow:auto;
	margin: 0;
	padding: 0;
}

.CountryList {
	font-size: 2.5em;
	width: 100%;
	height: 100vh;
}

/* Column features */
.column {
	float: center;
	width: 33.33%;
	font-size: 0.75em;
}

/* Row features */
.row::after {
	content: "";
	clear: both;
	display: table;
}

/* Defines everything, image, and iframe */
* {
    font-family: sans-serif-duo;
}

/* Defines every image's size */
img {
	height: 300px;
	width: 450px;
}

/* Defines every iframe's size */
iframe {
	float: right;
  height: 300px;
	width: 450px;
}

/* Defines features for side bar with country list */
#countryList {
  margin-top: 54px;
  padding: 0;
  width: 15%;
  background-color: var(--sidebar-color);
  color: var(--text-color);
  position: fixed;
  height: 100%;
  overflow: scroll;
  margin-bottom: 0px;
}

li a {
  display: block;
  color: var(--text-color);
  font-size: 20px;
  padding: 10px 50px;
  text-decoration: none;
}

li a.active {
  background-color: var(--active-color);
  color: var(--text-color);
}

li a:hover:not(.active) {
  background-color: var(--active-color);
  color: var(--text-color);
}

/* Defines features for top bar */
.topnav {
  overflow: auto;
  position: fixed;
  background-color: var(--topnav-color);
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 68px;
  font-size: 20px;
}

.topnav button {
  background-color: var(--topnav-color);
  text-decoration: underline;
  float: left;
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 67px;
  font-size: 20px;
}

.topnav select {
  background-color: var(--topnav-color);
  text-decoration: underline;
  float: left;
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 67px;
  font-size: 20px;
}

.topnav .search-container {
	float: right;
}

.topnav .search-container ::placeholder {
	color: var(--text-color);
}

.topnav a:hover {
  background-color: var(--active-color);
  color: var(--text-color);
}

.topnav select:hover {
  background-color: var(--active-color);
  color: var(--text-color);
}

.topnav button:hover {
  background-color: var(--active-color);
  color: var(--text-color);
}

.topnav input {
  background-color: var(--topnav-color);
  text-decoration: underline;
  float: left;
  display: block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
}

.topnav input:hover {
  background-color: var(--active-color);
  color: var(--text-color);
}
